@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: 'aldrich';
  src: url('/public/Aldrich-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}